* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow: hidden;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
}


.container-logo {
    align-items: center;
    text-align: center;
    display: flex;
}

.logo {
    width: 500px;
    cursor: pointer;
}

.container-options {
    display: flex;
    justify-content: space-around;
}

.option {
    width: 12rem;
    height: 3.75rem;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    font-size: 20px;
    color: #FFE700;
    border-radius: 20px;
    border: 5px solid #FFE700;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background-color: black;
}

.option:hover {
    background-color: #8B7F18;
    color: #ffffff;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 28rem;
}

.scroll-text {
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 120s linear infinite;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

button {
    background-color: transparent;
    border-color: transparent;
}

h1 {
    font-size: 140px;
    text-align: center;
}

h2 {
    font-size: 60px;
    text-align: center;
}


@keyframes scroll {
    0% {
        top: 100%;
        transform: translateZ(0) rotateX(20deg);
    }

    100% {
        top: -468.75rem;
        transform: translateZ(-156.25rem) rotateX(21deg);
    }
}

@media (max-width: 768px) {
    main {
        overflow: hidden;
    }

    .logo {
        width: 300px;
    }

    .wrapper {
        display: none;
    }

    .container-options {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        flex-direction: column;
        margin-top: -230px;
        margin-left: 10px;

    }

    .option {
        width: 10rem;
        height: 3.25rem;
        text-align: center;
        font-size: 16px;
        line-height: 2.75rem;
    }


}